/* Google Fonts */
@import url("https://fonts.googleapis.com/css2?family=Libre+Baskerville:wght@400;700&family=Quicksand:wght@300..700&display=swap");

/* Utilities Or Based Setup */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html,
body {
  height: 100%;
  width: 100%;
  font-family: "Quicksand", sans-serif;
}

/* Special Font */
.libra {
  font-family: "Libre Baskerville", serif;
}
